body{
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.landingcontainer{
    position: relative;
    min-height: 100vh;
}

.welcomeheading{
    margin-top: 10px;
    font-family: 'Unkempt', cursive;
}

.landingsubheading{
    font-size: 2rem;
}

.landingheader{
    text-align: center;
}

p{
    text-align: center;
}

.ebhlandingimage{
    width: 80%;
    height: auto;
}

.landingpumpclip{
    width: 60%;
    height: auto;
}

.clipimagediv{
    text-align: center;
    margin: auto;
}

.divspacer{
    height: 60px;
}

Footer{
    position: fixed;
}


/* ------------------- Media Queries -----------------*/


@media only screen and (max-width: 768px){
  
}    
    
@media only screen and (max-width: 425px){
      
}    
    
@media only screen and (max-width: 375px){
       
}    
    
@media only screen and (max-width: 320px){
     
}    