body{
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.landingcontainer{
    position: relative;
    min-height: 100vh;
}

.welcomeheading{
    margin-top: 10px;
    font-family: 'Unkempt', cursive;
}

.landingsubheading{
    font-size: 1.6rem;
}

.landingheader{
    text-align: center;
}

.landingsubparagraph{
    font-family: 'Unkempt', cursive;
    font-size: 1.9rem;
}

p{
    text-align: center;
    font-size: 1.6rem;
}

.wikilinkinline{
    color: black;
    text-decoration: none;
}

.wikilinkinline:hover{
    color: gray;
}

.ebhlandingimage{
    width: 80%;
    height: auto;
}

.divspacer{
    height: 60px;
}

.scrollToTop{
    background-color: rgba(0, 0, 0, 0.19);
}

/* ----------------- Special footer -----------------*/

Footer{
    position: fixed;
}

/* ----------------- Wed developer ------------------*/

.createdby, #createdby{
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

/* ------------------- Media Queries -----------------*/


@media only screen and (max-width: 768px){
  
}    
    
@media only screen and (max-width: 425px){
    .welcomeheading{
        font-size: 1.5rem;
    }
    .ebhlandingimage{
        width: 100%;
    }
    .landingsubheading{
        font-size: 1.1rem;
    }
    .landingsubparagraph{
        font-size: 1.5rem;
    }
    p{
        font-size: 1.1rem;
    }
    .createdby, #createdby{
       font-size: 0.9rem;
   }
}    
    
@media only screen and (max-width: 375px){
    .welcomeheading{
        font-size: 1.5rem;
    }
    .ebhlandingimage{
        width: 100%;
    }
    .landingsubheading{
        font-size: 1.1rem;
    }
    .landingsubparagraph{
        font-size: 1.5rem;
    }
    p{
        font-size: 1.1rem;
    }
    .createdby, #createdby{
       font-size: 0.9rem;
   }
}    
    
@media only screen and (max-width: 320px){
   
}    