
.navbar{
    background-color: black;
}

#navtogglericon{
    color: white;
}

.logonavbar{
    justify-content: center;
}

.nav-link{
    color:#C6AE34;
    font-size: 2rem;
    font-family: 'Unkempt', cursive;
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.nav-link:hover{
    color: #F79767;
}

.navspaceright{
    margin-left: 20px;
}

.navspaceleft{
    margin-right: 20px;
}

.ebhlogo{
    width: 300px;
    height: auto;
    padding-top: 10px;
}

.hop{
    width: 80px;
    height: auto;
    padding-top: 15px;
    padding-left: 8px;
    padding-right: 8px;
}

footer{
    background-color: black;
    padding-top: 3px;
    text-align: center;
    margin-top: auto;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footer-icon{
    color:#C6AE34;
    font-size: 1.5rem;
}

.footer-icon:hover{
    color:#F79767;
}

.copyright-footer{
    color:#F79767;
    font-size: 1.1rem;
    font-family: 'Unkempt', cursive;
}

/* ------------------- Media Queries base.html -----------------*/

@media only screen and (min-width: 768px){
/* 
    .nav-name-mobile{
        display: none;
    }

    .nav-name-mobile1{
        display: none;
    } */
}


@media only screen and (max-width: 768px){
    .hop{
        display: none;
    }
    .ebhlogo{
        display: none;
    }
    .navspaceright{
        margin-left: 0px;
    }

}    


@media only screen and (max-width: 425px){
  
 

}    

@media only screen and (max-width: 375px){

    

   
}    

@media only screen and (max-width: 320px){

   
}    