body{ 
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 1.2rem;
}

.wikicontainer{
    margin-bottom: 50px;
}

.horizontalrule{
    color: blanchedalmond;
}

.card{
    height: 100px;
}

.bttButton:hover{
    border: 1px solid white;
}

.wikiheading{
    font-family: 'Unkempt', cursive;
    text-align: center;
    color:#C6AE34;
}

.wikisub-heading{
    font-size: 1.2rem;
}

.paragarphheading{
    font-family: 'Unkempt', cursive;
    text-align: center;
    color:#C6AE34;
}

.paragarphsubheading{
    font-family: 'Unkempt', cursive;
    color: #F79767;
}

.wikibox{
    color: #fff;
    background-color: rgba(60,60,60,0.8);
    width: 60%;
    height: auto; 
    padding: 30px; 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.background_image_wiki{
    background-image: url('/static/media/adobestock_209712791.jpg');                      
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
}

/* ----------------------- wiki videos ------------------------*/
.showvidbutton{
    text-align: center;
    margin-top: 10px;
}

.vidbut{
    margin-bottom: 20px;
}

.soilphvideo{
    text-align: center;
}

.soilphvideoplayer{
    width:250px;
    height:215px;
}

.videoheading{
    font-size: 1.5rem;
    font-family: 'Unkempt', cursive;
    color: #F79767;
}

/* ------------------ Scroll to top button --------------------*/

.scrollToTop{
    width:50px; 
    height:50px;
    text-align:center; 
    font-weight: bold;
    font-size: 2rem;
    border: 2px solid white;
    background-color: gray;
    text-decoration: none;
    position:fixed;
    top:600px;
    right:10px;
    display:none;
    z-index: 500;
}

.scrolltotopicon{
    color: burlywood;
    -webkit-text-stroke: 1px black;
}

.scrollToTop:hover{
    text-decoration:none;
}

/* ------------------- Media Queries base.html -----------------*/

@media only screen and (min-width: 2560px){

    .scrollToTop{
        right:300px;
    }
}

@media only screen and (max-width: 2556px){

    .scrollToTop{
        right:100px;
    }
}

@media only screen and (max-width: 1440px){

    .scrollToTop{
        right:60px;
    }
}

@media only screen and (max-width: 1024px){

    .scrollToTop{
        right:20px;
    }
}


@media only screen and (max-width: 768px){
    
    .scrollToTop{
        right:10px;
    }
}     


@media only screen and (max-width: 425px){
    .wikibox{
        width: 90%;
        padding: 10px;
    }
    .wikiheading{
        font-size: 2rem;
    }
    .wikisub-heading{
        font-size: 1.2rem;
        text-align: center;
    }
    .paragarphheading{
        font-size: 2rem;
    }
    p{
        text-align: center;
    }
    .paragarphsubheading{
        text-align: center;
    }
}    
   

@media only screen and (max-width: 375px){
    
    .wikiheading{
        font-size: 1.9rem;
    }
    .wikisub-heading{
        font-size: 1.4rem;
    }
    .paragarphheading{
        font-size: 1.9rem;
    }
    p{
        font-size: 1.4rem;
    }
}    


@media only screen and (max-width: 320px){

    .soilphvideoplayer{
        width:220px;
        height:215px;
    }
    .wikiheading{
        font-size: 1.7rem;
    }
    .wikisub-heading{
        font-size: 1.2rem;
    }
    .paragarphheading{
        font-size: 1.7rem;
    }
    p{
        font-size: 1.2rem;
    }
    .paragarphsubheading{
        font-size: 1.5rem;
    }
    .scrollToTop{
        top:450px;
    }
    .videoheading{
        font-size: 1.3rem;
    }
}