{% extends 'base.html' %}
{% block title %} {{ page_title }} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/about.css')}}" type="text/css">
{% endblock %}

{% block content %}
<a href="#" class="scrollToTop"><i class="fas fa-arrow-up scrolltotopicon"></i></a>
<div class="container aboutbox">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="oldcrewheading">How to become part of our community</h1>
            <p class="oldcrewstory">
                East Bristol Hops are always looking for new members.

                Our goal is to become self-sufficient by propagating enough hop plants such that everyone interested in
                joining the association can receive a free plant.
            </p>
            <p class="oldcrewstory">
                Until then, though, we will be placing an order early in the new year.

                If you'd like to join in next year's harvest, please leave your details via the 
                <a class="linksButtons" href="{{ url_for ('contact') }}">Contact tab</a> so we can contact
                you nearer the time regarding how much your plant will cost. As an example, in previous years we have
                charged £20 per plant,<br> which includes not only the plant itself but also almost everything else you'll need to
                get set up.<br>

                If you'd like to get involved, but don't have any spare cash, do please still get in touch as we have a
                limited number of plants propagated by our growers which we could donate for free.<br>

                Finally, if you wish to keep on top of East Bristol Hops news, please subscribe to our  <a href="{{ url_for ('subscribe', pagefrom='about') }}" class="linksButtons">mailing list,</a> and
                check out our socials <a class="linksButtons" href="https://www.facebook.com/groups/eastbristolhops" target="_blank">Facebook</a> and 
                <a class="linksButtons" href="https://twitter.com/eastbristolhops?lang=en" target="_blank">Twitter</a>
            </p>
            <hr color="gray">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <h1 class="oldcrewheading">Where it all began</h1>
            <p class="oldcrewstory">
                East Bristol Hops was formed in 2016 by four friends who had the idea to bring together a
                community of hop growers in Bristol who collectively would provide green hops to a local brewery for a
                uniquely Bristolian brew.<br>
                Within a few weeks of first talking about the idea, the original team of organisers had a brewery on
                board (Dawkins Ales) and an
                enthusiastic community of growers. That September 7kg of fresh, green hops were harvested and were used
                to make the first edition
                of a beer dubbed Easton Promise, which we launched during Cask Ale Week.
            </p>
            <div class="row">
                <div class="col-sm-6 friendimagerow">
                    <img class="friendsimage" src="/static/media/oldadmins.jpg" alt="old admins image">
                </div>
                <div class="col-sm-6 friendimagerow">
                    <img class="friendsimage" src="/static/media/oldparty.jpg" alt="old party image">
                </div>
            </div>
            <p class="oldcrewstory">
                The association has gone from strength to strength since that first year as plants get more established,
                the number of contributors increases
                and the amount of harvested hops increases. In our second year, the harvest was over 20 kilos - a
                significant milestone as it meant the
                2017 beer contained only locally grown cones.
                Bringing together people with a passion for beer, small breweries and their community has been the chief
                goal of the association since its inception. <br> If you'd like to get involved, please get in touch via
                <a href="{{ url_for ('contact') }}" class="clicktag">Contact Us</a>
            </p>
            <hr color="gray">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 promisediv">
            <h2 class="subheadingpromisediv">
                Whats this Beer then?
            </h2>
            <p class="abouthebrew">
                The Beer is called Easton Promise very kindly made by <a
                    href="http://www.dawkinsales.com/firstpage.html" class="clicktag" target="_blank">Dawkins
                    Ales</a>,<br> its
                name was chosen in a competition amongst our first wave of growers, <br>now numbering well over a
                hundred
                all over the Bristol area.
            </p>
            <img class="pumpclipimage" src="/static/media/eastonpromise.png" alt="Easton Promise pump clips">

            <p class="brewrecipe">
                The recipe is somewhat of a secret, as it changes year on year, but we <strong>Promise</strong> you its
                good!<br>
                What we can tell you, is that Dawkins expertly craft our hops into this fantastic beer.
            </p>
            <p class="brewrecipe">
                It's packed full of locally-grown
                wet Bullion, Fuggles, Primadonna (UK) hops, Its Super-fresh, grassy, hoppy flavours are only possible,
                due to the hops being
                picked straight off the vine capturing all the delicate volatile aromas from the natural hop oils.
                <br> Whats the ABV? <br> Well, this is a concept beer so we'll let you know when we know!
            </p>
        </div>
    </div>
    <hr color="gray">

    <div class="row help-row">
        <div class="col-sm-12 helpalcohelpheading">
            <h3 class="helpheading">Having trouble with Alcohol?</h3>
            <p class="helpheading">Don't suffer in silence, reach out, ask for help!</p>
        </div>
        <div class="col-sm-6 help-link">
            <a href="https://www.drinkaware.co.uk/alcohol-facts/health-effects-of-alcohol/mental-health/alcoholism/"
                target="_blank">DrinkAware </a>
        </div>
        <div class="col-sm-6 help-link">
            <a href="https://www.alcoholics-anonymous.org.uk/" target="_blank">Alcoholics Anonymous</a>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}

{% endblock %}