{% extends 'base.html' %}
{% block title %} {{ page_title }} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/about.css')}}" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 oldcrew">
            <h1>Where it all began</h1>
            <p>
                East Bristol Hops was formed in 2016 by four friends who had the idea to bring together a 
                community of hop growers in Bristol who collectively would provide green hops to a local brewery for a uniquely Bristolian brew. 
                Within a few weeks of first talking about the idea, the original team of organisers had a brewery on board (Dawkins Ales) and an 
                enthusiastic community of growers. That September 7kg of fresh, green hops were harvested and were used to make the first edition 
                of a beer dubbed Easton Promise, which we launched during Cask Ale Week.
                The association has gone from strength to strength since that first year as plants get more established, the number of contributors increases 
                and the amount of harvested hops increases. In our second year, the harvest was over 20 kilos - a significant milestone as it meant the 
                2017 beer contained only locally grown cones.
                Bringing together people with a passion for beer, small breweries and their community has been the chief 
                goal of the association since its inception. If you'd like to get involved, please get in touch via email at eastbristolhops@gmail.com.
            </p>
            <p>
                East Bristol Hops was formed in 2016 by four friends who had the idea to bring together a 
                community of hop growers in Bristol who collectively would provide green hops to a local brewery for a uniquely Bristolian brew. 
                Within a few weeks of first talking about the idea, the original team of organisers had a brewery on board (Dawkins Ales) and an 
                enthusiastic community of growers. That September 7kg of fresh, green hops were harvested and were used to make the first edition 
                of a beer dubbed Easton Promise, which we launched during Cask Ale Week.
                The association has gone from strength to strength since that first year as plants get more established, the number of contributors increases 
                and the amount of harvested hops increases. In our second year, the harvest was over 20 kilos - a significant milestone as it meant the 
                2017 beer contained only locally grown cones.
                Bringing together people with a passion for beer, small breweries and their community has been the chief 
                goal of the association since its inception. If you'd like to get involved, please get in touch via email at eastbristolhops@gmail.com.
            </p>
            <p>
                East Bristol Hops was formed in 2016 by four friends who had the idea to bring together a 
                community of hop growers in Bristol who collectively would provide green hops to a local brewery for a uniquely Bristolian brew. 
                Within a few weeks of first talking about the idea, the original team of organisers had a brewery on board (Dawkins Ales) and an 
                enthusiastic community of growers. That September 7kg of fresh, green hops were harvested and were used to make the first edition 
                of a beer dubbed Easton Promise, which we launched during Cask Ale Week.
                The association has gone from strength to strength since that first year as plants get more established, the number of contributors increases 
                and the amount of harvested hops increases. In our second year, the harvest was over 20 kilos - a significant milestone as it meant the 
                2017 beer contained only locally grown cones.
                Bringing together people with a passion for beer, small breweries and their community has been the chief 
                goal of the association since its inception. If you'd like to get involved, please get in touch via email at eastbristolhops@gmail.com.
            </p>
            <p>
                East Bristol Hops was formed in 2016 by four friends who had the idea to bring together a 
                community of hop growers in Bristol who collectively would provide green hops to a local brewery for a uniquely Bristolian brew. 
                Within a few weeks of first talking about the idea, the original team of organisers had a brewery on board (Dawkins Ales) and an 
                enthusiastic community of growers. That September 7kg of fresh, green hops were harvested and were used to make the first edition 
                of a beer dubbed Easton Promise, which we launched during Cask Ale Week.
                The association has gone from strength to strength since that first year as plants get more established, the number of contributors increases 
                and the amount of harvested hops increases. In our second year, the harvest was over 20 kilos - a significant milestone as it meant the 
                2017 beer contained only locally grown cones.
                Bringing together people with a passion for beer, small breweries and their community has been the chief 
                goal of the association since its inception. If you'd like to get involved, please get in touch via email at eastbristolhops@gmail.com.
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}

{% endblock %}