{% extends 'base.html' %}
{% block title %} {{ page_title }} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/landingpage.css')}}" type="text/css">
{% endblock %}
{% block js %}
<script src="{{url_for('static', filename='js/sessioncookie.js')}}"></script>
{% endblock %}

{% block content %}
<div class="container landingcontainer">
    <a href="#" class="scrollToTop"><i class="fas fa-arrow-up scrolltotopicon"></i></a>
    <div class="row">
        <div class="col-sm-12 landingheader">
            <h1 class="welcomeheading">Welcome to the home of East Bristol Hops Grower's Association Est: 2016</h1>
                <img class="ebhlandingimage" src="static/media/headerweb.jpg" alt="ebh landing image">
            <p class="landingsubheading">
                We are an ever-expanding group of like-minded people, who love to grow hop plants and drink quality
                beer!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr color="gray">
            <p class="landingsubparagraph">
                So what's it all about?
            </p>
            <p>
                Good question! It's all about hops and beer but mostly hops. Whether they’re in pots or the ground, and
                whether they’re on our allotments, balconies, gardens or pretty much anywhere hops can grow, we will
                grow them.
            </p>
            <p>
                Visit our <a class="wikilinkinline" href="{{ url_for ('wiki')}}">HopsWiki.</a> for more information on
                growing hops.
            </p>
            <p>
                Everyone who gets involved will join a passionate community of growers and experience the simple
                pleasure of watching the hop mature, as well as the joy of harvesting their ‘cones’ on the same day as
                everyone else and collectively adding them to that year’s brew.
            </p>
            <p>
                Beer is usually made with dried hops or compressed dried pellets which have lost a lot of their oils and
                flavours. Our green hop ale is unusual because we get the hops from the bines to the brewing kettle in
                hours, so more of the flavour is preserved.
            </p>
            <p>
                In other words, with good local hops, you can brew a unique beer with a very special taste.
            </p>
            <div class="row landingimagerow">
                <div class="col-sm-6 ">
                    <img class="landingimages" src="/static/media/hopsonbine.jpg" alt="hops on bine">
                </div>
                <div class="col-sm-6 ">
                    <img class="landingimages" src="/static/media/bagsofhops.jpg" alt="bags hops">
                </div>
            </div>
            <p>
                By early autumn the beer is ready for sampling, which everyone in the association gets to do at a party
                as soon as it’s brewed.
            </p>
            <p>
                What's more, you’ll also be able to wander into your local pub and buy a pint that you helped make.
            </p>
            <br>
            <hr color="gray">
            <br>
            <p class="landingsubparagraph">
                If you want to know more about how to be a part of this fantastic community please check out our 
                <a class="linksButtons" href="{{ url_for ('about') }}"><strong>About</strong></a> page!
            </p>
        </div>
    </div>

    <div class="row">
        <br>
        <div class="col-sm-12 createdby">
            <div>Website developed by <a id="createdby" href="http://www.jonwhewaycode.co.uk"
                    target="_blank">www.jonwhewaycode.co.uk</a></div>
        </div>
    </div>
</div>
<div class="divspacer"></div>

<!-- signup to the enews modal -->
<div class="modal fade" id="newslettersignup" tabindex="-1" role="dialog" aria-labelledby="newslettersignup"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="modalimagebox">
                        <button type="button" class="close" data-dismiss="modal" onclick="clear_modal()"
                            aria-label="Close">X</button>
                        <img class="modal-ebh-image" src="/static/media/ebhnavheader.png" alt="East bristol hops logo">
                        <h5 class="card-title">
                            Sign up to the Mailing List to receive occasional updates about hop
                            collection dates, growers parties and year-round socials, as well as tips and tricks to
                            maximise your harvest!
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 modal_buttons">
                        <a class="modal-button" onclick="clear_modal()"
                            href="{{ url_for('subscribe', pagefrom='index' )}}">Signup!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='js/landing.js')}}"></script>

{% endblock %}