{% extends 'base.html' %}
{% block title %} {{ page_title }} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/landingpage.css')}}" type="text/css">
{% endblock %}
{% block js %}
{% endblock %}

{% block content %}
<div class="container landingcontainer">
    <a href="#" class="scrollToTop"><i class="fas fa-arrow-up scrolltotopicon"></i></a>
    <div class="row">
        <div class="col-sm-12 landingheader">
            <h1 class="welcomeheading">Welcome to the home of East Bristol Hops Growers Association Est 2016</h1>
            <img class="ebhlandingimage" src="static/media/headerweb.jpg" alt="ebh landing image">
            <p class="landingsubheading">
                We are an ever-expanding group of like-minded people, who love to grow Hop plants and drink quality
                beer!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr color="gray">
            <p class="landingsubparagraph">
                So what's it all about?
            </p>
            <p>
                Well good question, its all about the hops and beer, but mostly hops, whether in pots or in the ground
                on our allotments, balconies, gardens
                pretty much anywhere hops will grow.<br>
                More info about growing hops can be found on our <a class="wikilinkinline"
                    href="{{ url_for ('wiki')}}">HopsWiki.</a>
            </p>
            <p>
                Everyone who gets involved will get to join a community of growers, the simple pleasure of watching
                the hop mature, and the joy of harvesting it on the same day as everyone else and adding it to the brew.
            </p>
            <p> Beer is usually made with dried hops or compressed dried pellets.
                Green hop ale is unusual because the hops start to lose their oils and flavours as soon as they are
                picked,<br> so they need to go from vine to brewing kettle in hours.
            </p>
            <p>
                But if you can find good local
                hops, you’ll be able to brew a unique
                beer with a very special taste. <br>
                By early autumn we’ll get to sample our own - free pints at a party as soon as it’s brewed, and a
                special discount on some more.
            </p>
            <p>
                Whats more you’ll also be able to wander into your local and buy a pint that you helped make.
            </p>
            <br>
            <hr color="gray">
            <br>
            <p class="landingsubparagraph">
                Want to know more about how to be aprt of theis comunity?
            </p>
            <p>
                For all you need to know for how to get involved and be part of this fantastic comunity, <br> please chackout our
                <a href="{{ url_for ('about') }}"><strong>About</strong></a> page!
            </p>
        </div>
    </div>

    <div class="row">
        <br>
        <div class="col-sm-12 createdby">
            <div>Website developed by <a id="createdby" href="http://www.jonwhewaycode.co.uk"
                    target="_blank">www.jonwhewaycode.co.uk</a></div>
        </div>
    </div>
</div>
<div class="divspacer"></div>

<!-- signup to the enews modal -->
<div class="modal fade" id="newslettersignup" tabindex="-1" role="dialog" aria-labelledby="newslettersignup"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="modalimagebox">
                        <img class="modal-ebh-image" src="/static/media/ebhnavheader.png" alt="East bristol hops logo">
                        <h5 class="card-title">If you wish to keep on top of East Bristol Hops news</h5>
                        <p>
                            Sign up to the newsletter to receive occasional updates about hop
                            collection dates, growers parties and year-round socials, as well as tips and tricks to maximise your harvest!
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 modal_buttons">
                        <button type="button" class="btn btn-primary modal-button" onclick="clear_modal()"
                            data-dismiss="modal">Enter Site!</button>
                    </div>
                    <div class="col-sm-6 modal_buttons">
                        <a class="btn btn-primary modal-button" onclick="clear_modal()"
                            href="https://gmail.us2.list-manage.com/subscribe?u=80bf76e9dfc08c46f8b2b9416&id=27ea01d4c6" target="_blank">Signup!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='js/sessioncookie.js')}}"></script>
{% endblock %}