{% extends 'base.html' %}
{% block title %} {{ page_title }} {% endblock %}


{% block css %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/subscribe.css')}}" type="text/css">

<!-- /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ -->

{% endblock %}
{% block js %}
{% endblock %}

{% block content %}
<!-- Begin Mailchimp Signup Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-12 maillistbox">
            <div class="formCol">
                <form
                    action="https://gmail.us2.list-manage.com/subscribe/post?u=80bf76e9dfc08c46f8b2b9416&amp;id=27ea01d4c6"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" novalidate>
                    <p class="formheading">Subscribe To The Mailing List</p>
                    <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL"
                        placeholder="Email Address" required>
                    <input type="text" value="" name="FNAME" class="required form-control" id="mce-FNAME"
                        placeholder="First Name">
                    <input type="text" value="" name="LNAME" class="required form-control" id="mce-LNAME"
                        placeholder="Last Name">
                    <span class="accepttick">  
                    <input type="checkbox" id="terms" name="terms" value="terms" required>
                    <span class="terms" for="terms">Accept, you agree to our <a class="signupbutton"
                        href="{{ url_for ('terms', pagefrom='contact') }}"> 
                        Terms & Conditions</a></span></span>  
                    <div class="row">
                        <div class="col-sm-12 responsediv">
                            <div class="responsefromapi" id="mce-error-response" style="display:none"></div>
                            <div class="responsefromapi" id="mce-success-response" style="display:none"></div>
                        </div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                            name="b_80bf76e9dfc08c46f8b2b9416_27ea01d4c6" tabindex="-1" value=""></div>
                    <div class="row">
                        <div class="col-sm-12" id="subscribeButton">
                            <button type="submit" value="Subscribe" name="subscribe"
                                class="btn btn-secondary button buttonsclick"
                                onclick="passedpage('{{page_from}}')">Subscribe</button>
                            <span id="backbuttondiv"><span id="redirectToWebsiteButton"></span></span>
                        </div>
                    </div>
                    <div class="redirectMessageDiv">
                        <span id="autoRedirectMessage"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--End mc_embed_signup-->
{% endblock %}
{% block script %}
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript' src='/static/js/subscribe.js'></script>
<script type='text/javascript'>(function ($) {
        window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email';
        fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE';
        ftypes[4] = 'phone'; fnames[5] = 'MMERGE5'; ftypes[5] = 'address'; fnames[6] = 'MMERGE6'; ftypes[6] = 'phone';
    }(jQuery)); var $mcj = jQuery.noConflict(true);
</script>
{% endblock %}


<!-- id="mce-responses" -->