{% extends 'base.html' %}
{% block title %} {{ page_title }} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/wiki.css')}}" type="text/css">
{% endblock %}

{% block content %}
<div class="container wikicontainer">
    <div class="row">
        <div class="col-sm-12 wikibox">
            <h1 class="wikiheading">Its all about the hops!</h1>
            <p class="wikisub-heading">Ever wondered why they call hops a bine, not a vine?
                Well in this HopsWiki, we hope to demystify some of the preconceptions
                people have about the hop plant, giveing tips on how best to grow and care them!
            </p>
            <h2 class="paragarphheading">What are hops?</h2>
            <p>Humulus lupulus or ‘wolf of the woods’ is the Latin name for the hop.
                It is a tall climbing plant and is “dioecious”
                which means that male and female plants are separate.
                It is the female plant which bears the hop cones required in the brewing process.
            </p>
            <p>
                The plants are perennial (dying back and re-growing each year) and can be expected to remain
                productive for 10-20 years or more, sending their roots down to a depth of up to 3.75m.
                With the support of a matrix of wooden poles, wirework and string they can grow to a height of
                at least 5m. On the traditional system, the plants are tied or trained up each string in the Spring.
                They reach the top of the string by July and during the month they begin to flower and their cones begin
                to develop.
                The hop cones consist of layers of soft tissue petals where the lupulin glands form and they
                look like large yellow pollen grains.
                <a href="https://www.britishhops.org.uk/hops/what-is-a-hop/" target="_blank">More Info</a>
            </p>
            <h2 class="paragarphheading">Bine or Vine?</h2>
            <p>I think the easiest way to remember the difference between vines and bines is when you see how each one
                grows.
                A grapevine, ‘Vitis’, has smooth woody stems which climb using tendrils to cling tightly to any support.
                The resulting woody framework of stems will last throughout the vine’s life. The stems do not die back
                to ground level each year.
            </p>
            <p>
                A hop plant ‘Humulus lupulus‘ on the other hand does things differently, it dies back to ground level
                each winter, therefore it is
                herbaceous. The Shorter Oxford Dictionary’s definition of Herbaceous is “not forming a woody stem but
                dying down to the root each year.
                ” However, because it lives for several years it is a perennial as well, consequently it is a
                ’herbaceous perennial’.
                Each year a hop plant will produce brand new stems or bines. Each bine has hairs growing backwards from
                the tip which help
                it to stay in place as it wraps and twines itself up and around any support, it is these coarse hairs
                which scratch your bare skin.
                Hop bines will only twist themselves clockwise around a support as they follow the sun, unlike runner
                beans which climb anti-clockwise.
                You can see hops being trained here.
                <a href="https://abushelofhops.co.uk/news/dried-hop-vines-v-dried-hop-bines-whats-difference/"
                    target="_blank">More Info</a>
            </p>
            <h2 class="paragarphheading">Growing Hops</h2>
            <h3>A few Tips from<a href="https://www.brewuk.co.uk/blog/growing-hops-at-home/#:~:text=Hops%20ideally%20should%20be%20planted,foot%20high%20above%20ground%20level."
                target="_blank"> Brew UK</a></h3>
            <h3>Location:</h3>
            <p>Hops produce best between the 30th and 52nd latitude - Lands End is at 50° and John O’Groats is 58, 
                so generally the further south you are the better your chances. 
                As sun loving plants they are wanting around 6-8 hours of sun a day in summer months – so 
                somewhere south facing and exposed is ideal.<br>
                Where you are has a big effect on the flavour of your hops, 
                well trained palates can tell the difference between hops grown a few miles apart. 
                So if you’re looking to brew clones of hop forward American beers you should be aware that your home-grown 
                cascade is going to taste very different to those grown on the west coast of America.
            </p>
            <h3>Soil & Planting</h3>
            <p>Hops ideally should be planted in spring, late enough to avoid a frost. Hops prefer; loose, non-compacted, easy draining, 
                slightly acidic and highly nutritious soil.<br>
                You should dig a small hole, fill with well aerated soil and build a mound about a foot high above ground level. 
                For rhizomes you want to create a 3” trench to put the rhizome in. 
                Pack the soil lightly around this to ensure there is plenty of air and then cover with mulch or straw. 
                This helps to keep the roots cool and make it easier to deal with weeds.<br>
                You want to keep the ground moist, watering every couple of days will be sufficient unless the temperature is really hot.
            </p>
            <h3> Climbing Structure & Maintenance</h3>
            <p>Hop bines grow vertically and require some kind of trellis/structure to climb. Your trellis could be some 
                heavy rope or twine going from ground level to your roof or a few tall poles securely mounted
                in the ground – some design ideas can be found here. Hop bines can grow to over 25feet and weigh up to 12kg 
                so be sure the structure is strong and secure.<br>
                When selecting the string for your climbing structure, the traditional choice is coir (which is made from coconut hair) but 
                rolled paper twine is also quite popular. You should avoid slick synthetic ropes 
                as the hairs on the hop bines will not be able to grip these. Once the hops begin to grow, 
                select the best bines and wrap them around your trellis or structure to train them.<br>
                Hop plants are surprisingly resilient but they will require some maintenance whilst they are growing. 
                As well as fertilising the ground and weeding you should 
                prune leaves from the bottom of the plant, clearing the bottom 2-3ft of leaves regularly to help 
                with aeration and pest control.
            </p>
            <h3> Harvest & drying</h3>
            <p>Hops will grow throughout summer should be ready for harvest by early September. In the first year the harvest is likely to be small 
                as hops haven’t yet reached peak yield. Hop cones are ready for harvest when they are dry/papery to the touch, springy, have a 
                strong hop aroma and leave yellow lupulin powder on your fingers – when you think they’re ripe pick one and open it, 
                if ripe it should be full of thick yellow-gold lupulin powder.<br>
                Hop cones may not mature evenly so it’s important to harvest those from the top first 
                and work your way down ensuring all cones are ripe before harvest.<br>
                It’s important to dry your hops using air movement and not heat as this will cause essential oils to burn off and you will lose aromatics. 
                Placing them in a paper bag(s), away from sunlight and setting up a fan to gently blow across them works well with regular turning of the hops. 
                Once dry, place in a sealed bag remove as much oxygen as possible from the bag and store in a freezer.<br>
                After harvest you want to cut bines back to approx. 3ft. The winter frost will kill off the bines, after which 
                they should be cut back further and covered with mulch. Come spring trim the roots back to about a foot, add some 
                fresh mulch and fertilizer and a new trellis and your good to go for the next season.
                <a href="https://www.brewuk.co.uk/blog/growing-hops-at-home/#:~:text=Hops%20ideally%20should%20be%20planted,foot%20high%20above%20ground%20level."
                    target="_blank">More Info</a>
            </p>
            <a class="btn btn-info bttButton" href="#top"><i class="fas fa-arrow-up"></i> Go to
                Top</a>        

            <hr color="white">
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="paragarphheading">For more infomation on hops and how to care for them check out these
                        rescouces</h2>
                </div>    
                <div class=col-md-3>
                    <div class="card">
                        <a href="https://www.britishhops.org.uk/" target="_blank"><img src="static/media/britishhopasso.jpg" 
                            alt="Avatar" style="width:80%">British Hops Association</a>
                    </div>
                </div>
                <div class=col-md-3>
                    <div class="card">
                        <a href="https://essentiallyhops.co.uk/info-guides/" target="_blank">
                            <img src="https://essentiallyhops.co.uk/wp-content/uploads/2019/09/HF-Logo-Rect-full.png" 
                            alt="Avatar" style="width:80%">Essentially Hops</a>
                    </div>
                </div>
                <div class=col-md-3>
                    <div class="card">
                        <a href="https://abushelofhops.co.uk/" target="_blank">
                            <img src="https://abushelofhops.co.uk/wp-content/uploads/2015/06/headerr-3-grey.png" 
                            alt="Avatar" style="width:80%"><div>A Bushel of Hops</div></a>
                    </div>
                </div>
                <div class=col-md-3>
                    <div class="card">
                        <a href="https://www.brewuk.co.uk/blog/growing-hops-at-home/#:~:text=Hops%20ideally%20should%20be%20planted,foot%20high%20above%20ground%20level." target="_blank">
                            <img src="https://d1mydsvkrowrfu.cloudfront.net/media/logo/websites/1/logo_1.jpg" 
                            alt="Avatar" style="width:80%"><div>Brew Uk</div></a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}
{% block script %}

{% endblock %}