{% extends 'base.html' %}
{% block title %} {{ page_title }} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/wiki.css')}}" type="text/css">
{% endblock %}

{% block content %}
<div class="container wikicontainer">
    <div class="row">
        <div class="col-sm-12 wikibox">

            <!-- This button is hidden untill the page is scrolled then appears half way 
                down the page and animates scrolling to the top on click -->
            <a href="#" class="scrollToTop"><i class="fas fa-arrow-up scrolltotopicon"></i></a>

            <h1 class="wikiheading">Its all about the hops!</h1>
            <p class="wikisub-heading">Ever wondered why they call hops a bine, not a vine?
                Well in this HopsWiki, we hope to demystify some of the preconceptions
                people have about the hop plant, giveing tips on how best to grow and care them!
            </p>
            <h2 class="paragarphheading">What are hops?</h2>
            <p>Humulus lupulus or otherwiswe knone as ‘wolf of the woods’ is the Latin name for the hop.
                It is a tall climbing plant and is “dioecious”
                which means that male and female plants are separate.
                It is the female plant which bears the hop cones required in brewing beer.
            </p>
            <p>
                Hop plants are perennial, they die back and re-grow each year and can be expected to remain
                productive for 10-20 years, depending on variety they can have a root depth of almost 4 meters, they can
                grow as high as 5 meters.
                They typically start to flower mid to late July, this is when the cones will start to develop.
                The cones consist of multiple layers of petals where the lupulin glands form and they look like large
                yellow pollen grains.
            </p>
            <h2 class="paragarphheading">Bine or Vine?</h2>
            <p>Take consideration to how they grow, a garpevine has a smooth woody stem and climbs using Tendrils to
                latch on to things to pull itself along.
                The stems do not die back to the ground in winter and will last the vines life.
            </p>
            <p>
                Hop plants, die back to ground level each winter, therefore, it's herbaceous. However, because it lives
                for several years its
                classed as a perennial as well, making it a ’herbaceous perennial’. Each year a hop plant will produce
                brand new stems or bines.
                Each bine has hairs growing backwards from the tip which help it to grip as it wraps and twines itself
                up and around any support,
                it is these coarse hairs which scratch your bare skin.
                Hop bines twist themselves clockwise in the northern hemisphere and anticlockwise for the southern
                hemisphere.
            </p>
            <h2 class="paragarphheading" id="GrowingHops">Growing Hops</h2>

            <h3 class="paragarphsubheading">Location:</h3>
            <p>
                Hops ideally produce best the further south you are, so in Bristol, we are fairly lucky.
                Hops need around 6-8 hours of sun a day so south-facing and direct sunlight are ideal.
            </p>
            <h3 class="paragarphsubheading">Soil & Planting:</h3>
            <p>
                Hops ideally should be planted in spring, late enough to avoid a frost. Hops prefer, loose,
                non-compacted, easy draining,
                slightly acidic and highly nutritious soil.<br> That being said a soil with a PH of 6.2-6.8 works well
                for most hops varietys.
            </p>

            <!-- This section injects the videos from javascript -->
            <h3 class="paragarphheading">How to test soil PH</h3>
            <div class="showvidbutton">
                <input class="btn btn-secondary" type="button" id="showvidbutton" onclick="showvideos()"
                    value="Show Videos"></input>
            </div>
            <div class="videos" id="videos"></div>
            <hr color="white">

            <div class="row">
                <div class="col-sm-8 stepstext">
                    <p>
                        1. Some people skip this step but, having good dreainage is key to haveing healthy plants so
                        fill
                        the biggest pot you have about 1"-2" with gravel.
                    </p>
                </div>
                <div class="col-sm-4 trenchimg">
                    <img class="rhzimage" src="static/media/gravel.jpg" alt="">
                </div>
            </div>

            <hr color="white">

            <div class="row">
                <div class="col-sm-4 trenchimg">
                    <img class="rhzimage" src="static/media/rhizome.jpg" alt="">
                </div>
                <div class="col-sm-8 stepstext">
                    <p>
                        2. You want to create a 3” trench to put the rhizome in.
                    </p>
                </div>
            </div>
            <hr color="white">
            <div class="row">
                <div class="col-sm-8 stepstext">
                    <p>
                        3. Pack the soil lightly around this to ensure there is plenty of air and then cover with mulch
                        or straw. This helps to keep the rhizome cool and make it easier to deal with weeds.
                    </p>
                </div>
                <div class="col-sm-4 trenchimg">
                    <img class="rhzimage" src="static/media/mulch.jpg" alt="">
                </div>
            </div>

            <hr color="white">

            <div class="row">
                <div class="col-sm-4 trenchimg">
                    <img class="rhzimage" src="static/media/watering.jpg" alt="">
                </div>
                <div class="col-sm-8 stepstext">
                    <p>
                        4. You want to keep the ground moist, watering every couple of days will be sufficient unless
                        the
                        temperature is really hot.<br>
                        If in pots check everyday in summer as when the temperatures are in the mid 20s and the pots are
                        in
                        direct sunlight the rhizome
                        can overheat causeing premature browning of the leaves and even a complete failure of the plant,
                        so
                        watering moring and evening are advised.
                    </p>
                </div>
            </div>

            <hr color="white">
            <div class="row">
                <div class="col-sm-8 stepstext">
                    <p>
                        5. In the first year if you are lucky, you can expect to see a daily growth rate of about an
                        inch.
                    </p>
                </div>
                <div class="col-sm-4 trenchimg">
                    <img class="rhzimage" src="static/media/growth.jpg" alt="">
                </div>
            </div>

            <hr color="white">
            <h3 class="paragarphsubheading">Pests and things to look out for:</h3>
            <p>
                Hops are a hardy bine, but they do have there alkalise heal, sometimes things don't go quite to plan,
                pests
                and disease can take hold and it's hard to really know what's going on,
                Here are a few of the most common.
            </p>
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        Aphids
                    </p>
                    <img class="trellisimg"
                        src="https://images.immediate.co.uk/production/volatile/sites/10/2018/02/4b618c4f-4b55-43db-976d-56c41331876e-837427f.jpg?quality=90&resize=768%2C574"
                        alt="Aphids">
                    <p>
                        Aphids are a common garden pest but they can takeover hop plants, they chew into the stems and
                        the underside of the leaves sucking on the sap,
                        causing leaves to go yellow and weak young plants may become stunted, they also excrete a liquid
                        call (Honeydew) that can cause other problems such as sooty mould. To get rid of aphids, a
                        simple spray bottle with washing up liquid and water in should do it. However, only as a last
                        resort if you are going
                        to treat your hops please do so early in the season and not after mid august as we don't want
                        soapy beer,
                        Spray in the evening after any direct sunlight or the leaves will get burnt
                        by the sun.
                    </p>
                </div>
                <div class="col-sm-6">
                    <p>
                        Sooty Mould
                    </p>
                    <img class="trellisimg"
                        src="https://irontreeservice.com/wp-content/uploads/2016/06/Sooty-Mold-350x0-c-default.jpg"
                        alt="Sooty mould">
                    <p>
                        Sooty mould causes a layer of black mould the covers leaves and cones, it causes the leaves to
                        die back and the bine to wilt, Sooty Mould grows on the honeydew left behind by aphids. To teat
                        this mould you have to tackle the aphids that cause it in the first place.
                    </p>
                </div>
                <div class="col-sm-6">
                    <p>
                        Mosaic virus
                    </p>
                    <img class="trellisimg"
                        src="https://www.canr.msu.edu/uploads/images/Plant%20Ag/Apple_mosaic_on_hop.jpg"
                        alt="Sooty mould">
                    <p>
                        Caused once again by aphids, mosaic virus or hop mosaic virus is one of the most serious hop
                        plant diseases. It causes yellow and green leaf mottling between the leaf veins and overall
                        stunted growth of the plants.
                    </p>
                </div>
                <div class="col-sm-6">
                    <p>
                        Verticillium wilt
                    </p>
                    <img class="trellisimg"
                        src="https://www.canr.msu.edu/uploads/images/Plant%20Ag/Apple_mosaic_on_hop.jpg"
                        alt="Sooty mould">
                    <p>
                        Caused once again by aphids, mosaic virus or hop mosaic virus is one of the most serious hop
                        plant diseases. It causes yellow and green leaf mottling between the leaf veins and overall
                        stunted growth of the plants.
                    </p>
                </div>
            </div>

            <hr color="white">
            <h3 class="paragarphsubheading"> Climbing Structure & Maintenance:</h3>
            <p>
                Hop Bines tend to grow vertically, but can grow horizontally and require a fence, rope, wall, hedge or
                trellis to grow along.
            </p>

            <div class="row">
                <div class="col-sm-6 trenchimg">
                    <img class="trellisimg" src="static/media/trellis.jpg" alt="">
                </div>
                <div class="col-sm-6 trenchimg">
                    <img class="trellisimg" src="static/media/hopsline.jpg" alt="">
                </div>
            </div>

            <p class="underimage">
                If using a rope, be aware that during the main flowering season the plants can get really dense foliage,
                therefore can be susceptible to high winds, so using a thick rope or wire preferably, the most
                traditional way is to use a coir rope (made from coconut husk).
                Try to avoid bailing style twine or slippery nylon, as the bines tend to slip and are unable to grow to
                there full potential.
            <p>
                Once the hops have started to grow, select the most healthy-looking shoots and keep at least 3 to 4 trim
                off the rest to ground level,
                or if still young consider cooking them up as a growers feast.
            </p>
            <p>
                Start to wrap them clockwise around the supports you have put in place and when the bines are over 2 to
                3 foot, clear off at least a foots worth of bottom leaves.<br>
                This helps with ventilation and also cuts the chances of disease such as powdery mildew.
            </p>
            <h3 class="paragarphsubheading"> Harvest Time:</h3>
            <p>
                Harvesting is usually around end of September, however, it can also be weather dependant, in the first
                year the yield will generally be quite
                small but will generally increase year on year.
            </p>
            <p>
                Hops cones are ready to harvest when they are dry/papery to the touch, springy, have a
                strong beer aroma and leave an oily residue on your fingers, when you think they’re ripe pick one and
                open it,
                if ripe it should be full of thick yellow-gold lupulin powder.
            </p>
            <p>
                Hop cones may not mature evenly so it’s important to harvest those that are ready, hops can easily be
                frozen and as Easton Promise
                is usually made with green hops,
                there is no need to dry them just pick and freeze until we call for the hops drop off.
            </p>
            <p>
                After harvest and the leaves have started to brown and dieback cut the bines off at just above ground
                level and cover
                with mulch and even some fertiliser, manure or chicken poo pellets have been found to work well.
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/wiki.js')}}"></script>
{% endblock %}